<!DOCTYPE html>
<html>
<head>
	<%- include('partials/heads_content') %>
	<title>Error | 404</title>
</head>
<body>

	<h1 class="mt-5" style="text-align: center; font-weight: 800 !important;">Error (*﹏*) 404 | Page Not Found</h1>

</body>
</html>