<!DOCTYPE html>
<html>

<head>
  <title>About Us</title>
  <%- include('partials/heads_content') %>

  <!-- Footer CSS -->
  <link rel="stylesheet" type="text/css" href="/css/footer.css" />
  <link rel="stylesheet" type="text/css" href="/css/about.css" />

</head>
<script src="https://use.fontawesome.com/1744f3f671.js"></script>

<body>
  <%- include('partials/header') %>
  <div style="margin-bottom: 56px"></div>

  <div class="bodycss aboutcss1">
    <div class="container">
      <div class="row aboutcss2">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="images/rahul.jpg" />
            </div>
            <div class="team-content">
              <h3 class="name">Rahul Gupta</h3>
              <h4 class="title">Full Stack Developer</h4>
            </div>
            <ul class="social">
              <li>
                <a href="https://www.facebook.com/rahul6542" target="_blank" class="fa fa-facebook" aria-hidden="true"></a>
              </li>
              <li>
                <a href="https://twitter.com/i_am_rahu" target="_blank" class="fa fa-twitter" aria-hidden="true"></a>
              </li>
              <li>
                <a href="https://instagram.com/i.am.rahu?igshid=1dowk8mx5u85t" target="_blank" class="fa fa-instagram" aria-hidden="true"></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/rahul-gupta-5442931aa" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="images/pradeep.jpeg" />
            </div>
            <div class="team-content">
              <h3 class="name">Pradeep Ingle</h3>
              <h4 class="title">Full Stack Developer</h4>
            </div>
            <ul class="social">
              <li>
                <a href="https://www.facebook.com/pradeep.ingle.773/" target="_blank" class="fa fa-facebook" aria-hidden="true"></a>
              </li>
              <li>
                <a href="https://twitter.com/pradeepingle15" target="_blank" class="fa fa-twitter" aria-hidden="true"></a>
              </li>
              <li>
                <a href="https://www.instagram.com/ingle__pradeep/" target="_blank" class="fa fa-instagram" aria-hidden="true"></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/pradeep-ingle-b6520019b" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="images/aniket3.jpg" />
            </div>
            <div class="team-content">
              <h3 class="name">Aniket Kasturi</h3>
              <h4 class="title">Frontend Developer</h4>
            </div>
            <ul class="social">
              <li>
                <a href="https://www.facebook.com/aniket.kasturi" target="_blank" class="fa fa-facebook" aria-hidden="true"></a>
              </li>
              <li>
                <a href="https://twitter.com/d06c27f1658847d" target="_blank" class="fa fa-twitter" aria-hidden="true"></a>
              </li>
              <li>
                <a href="https://instagram.com/the_virgo_noid?igshid=1250odlq444cz" target="_blank" class="fa fa-instagram" aria-hidden="true"></a>
              </li>
              <li>
                <a href="https://in.linkedin.com/in/aniket-kasturi-4b783b1a4" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>
</body>

</html>