<!DOCTYPE html>
<html>

<head>
  <title></title>

</head>

<body>

  

  <% if(typeof feedbacktList != 'undefined') { %>
  <% if(feedbacktList.length != 0) { %>
    <h1 style="text-align: center; color: #333333; padding: 5px ;"> Registration Event</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Feedback</th>
      </tr>
    </thead>
    <tbody>
    <% for(var i = 0; i < feedbacktList.length ; i++ )  {%>
      <tr>
        <td><%- feedbacktList[i].name %></td>
        <td><%=feedbacktList[i].email%></td>
        <td><%=feedbacktList[i].mobileNumber%></td>
        <td><%- feedbacktList[i].feedback.replace(/\n/g,'<br>') %></td>
      </tr>
              
    <%}%>
    </tbody>
  </table>
  <%} else {%>
    <p class="no-content-text">No Feedbacks</p>
  <%}%>
  <%}%>
  
  


</body>

</html>