<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body >
<%if(typeof gallery != 'undefined' && typeof id != 'undefined') {%>
	
	<nav class="navbar navbar-expand-lg  ">
      <div class="collapse navbar-collapse container" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                  <a href="/admin" class="btn btn-primary">Admin Panel</a>
                  <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                      <a class="dropdown-item" href="/admin?flag=user">Users</a>
                      <a class="dropdown-item" href="/admin?flag=gallery">Gallery</a>
                    </div>
                  </div>
            </div>
        </ul>
        <ul class="navbar-nav ml-auto">
        	<a href=" " data-toggle="modal" data-target="#updateImage" class="btn btn-outline-primary">Update</a>&nbsp;&nbsp;
		  	<a href="/admin/gallery/delete/<%=id%>" class="btn btn-outline-danger">Delete</a>
        </ul>
      </div>
    </nav>

	<div class="modal" id="updateImage">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Update Image</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	       <form action="/admin/gallery/update/<%=id%>" method="post" enctype="multipart/form-data">
	       	<input type="file" id="img" name="photo" accept="image/*">
	      </div>
	      <div class="modal-footer">
	        <button type="submit" class="btn btn-primary">Update</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>


	<div style="text-align: center;">
			<h1>Edit Gallery</h1><br><br>
			<img src="" id="image" ><br><br>
			<div id="mydiv" data-test=<%= id %>></div>
		</div>

<script type="text/javascript">

function toBase64(arr) {
   //arr = new Uint8Array(arr) if it's an ArrayBuffer
   return btoa(
      arr.reduce((data, byte) => data + String.fromCharCode(byte), '')
   );
}

const galleryapifunction= async function(flag){

		const response = await fetch('http://127.0.0.1:3000/admin/gallery/'+flag+'/api')

		const myData = await response.json()
		
			console.log(myData)
  			var x =document.getElementById('image')
  			
  			
			x.src = 'data:image/jpeg;base64,' + toBase64(myData.photo.data)
	


	}
	
	 galleryapifunction(document.getElementById('mydiv').dataset.test)

	 var errorMessage = "<%- error_message %>";

		if(errorMessage !== '') {
			alert(errorMessage);
			location.reload();
		}

</script>

<%}%>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>