<!DOCTYPE html>
<html>

<head>
  <title>Event</title>
  <%- include('partials/heads_content') %>

  <!-- Footer CSS -->
  <link rel="stylesheet" type="text/css" href="/css/footer.css" />

  <!-- Event Css -->
  <link rel="stylesheet" href="/css/event.css">
</head>

<body>
  <%- include('partials/header') %>
  <div style="margin-bottom: 74px;"></div>

  <div class="container-fluid my-2" style="min-height: 70vh;">
    hi
  </div>

  <%- include('partials/footer') %>
</body>

</html>