<!DOCTYPE html>
<html>

<head>
  <title>Event Dashboard</title>
  <%- include('partials/heads_content') %>

  <!-- Footer CSS -->
  <link rel="stylesheet" type="text/css" href="/css/footer.css" />

  <!-- Main content -->
  <link rel="stylesheet" href="/css/main-content.css">
</head>

<body>

  <%- include('partials/header') %>
  <div style="flex-grow: 1;">
    <h1>Event Dashboard</h1>
  </div>
  
  <%- include('partials/footer') %>        
</body>

</html>