<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%- include('partials/heads_content') %>

    <!-- Footer CSS -->
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <h1 class="mt-5 mb-5" style="text-align: center; font-weight: 800 !important;">Event Content Goes here</h1>

    <%- include('partials/footer') %>
  </body>
</html>
