<script>
  let page = window.location.href;
  let page1 = page.split("//")[1];
  let page2 = page1.split("/")[1];

  let element = document.getElementById("brand_navbar");
  let element1 = document.getElementById("gallery_navbar");
  let element2 = document.getElementById("about_navbar");
  let element3 = document.getElementById("event_navbar");
  let element4 = document.getElementById("contact_navbar");
  let element5 = document.getElementById("signup_navbar");
  let element6 = document.getElementById("login_navbar");

  if (page2 == "gallery") {
    element.classList.remove("active");
    element2.classList.remove("active");
    element3.classList.remove("active");
    element4.classList.remove("active");
    element5.classList.remove("active");
    element6.classList.remove("active");
  } else if (page2 == "event") {
    element.classList.remove("active");
    element2.classList.remove("active");
    element1.classList.remove("active");
    element4.classList.remove("active");
    element5.classList.remove("active");
    element6.classList.remove("active");
  } else if (page2 == "about") {
    element.classList.remove("active");
    element3.classList.remove("active");
    element1.classList.remove("active");
    element4.classList.remove("active");
    element5.classList.remove("active");
    element6.classList.remove("active");
  } else if (page2 == "contact") {
    element.classList.remove("active");
    element2.classList.remove("active");
    element1.classList.remove("active");
    element3.classList.remove("active");
    element5.classList.remove("active");
    element6.classList.remove("active");
  } else if (page2 == "signup") {
    element.classList.remove("active");
    element2.classList.remove("active");
    element1.classList.remove("active");
    element4.classList.remove("active");
    element3.classList.remove("active");
    element6.classList.remove("active");
  } else if (page2 == "login") {
    element.classList.remove("active");
    element2.classList.remove("active");
    element1.classList.remove("active");
    element4.classList.remove("active");
    element5.classList.remove("active");
    element3.classList.remove("active");
  } else {
    element3.classList.remove("active");
    element2.classList.remove("active");
    element1.classList.remove("active");
    element4.classList.remove("active");
    element5.classList.remove("active");
    element6.classList.remove("active");
  }
</script>