<html lang="en">
  <head>
    <title>Gallery</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    
    <link rel="stylesheet" href="/css/gallery.css" />

    <link rel="stylesheet" href="/css/footer.css" />

    <link rel="stylesheet" href="/css/lightbox.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <!-- Gallery head description starts -->
    <div class="container mt-3">
      <div class="row mt-4 mt-xs-10">
        <div class="col-md-12 text-center">
          <h3 class="gallery_head">Atharva Events <b>Highlights</b></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-md-offset-2 text-center mt-20 mt-xs-10">
          <p class="gallery_paragraph">
            Here's a glimpse at some of the Major Highlights of Atharva Events!
          </p>
        </div>
      </div>
    </div>
    <!-- Gallery head description ends -->

    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-3">
        <img
          src=""
          style="width: 100%"
          onclick="openModal();currentSlide(1)"
          class="hover-shadow cursor"
          id="1"
        />
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3">
        <img
          src=""
          style="width: 100%"
          onclick="openModal();currentSlide(2)"
          class="hover-shadow cursor"
          id="2"
        />
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3">
        <img
          src=""
          style="width: 100%"
          onclick="openModal();currentSlide(3)"
          class="hover-shadow cursor"
          id="3"
        />
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3">
        <img
          src=""
          style="width: 100%"
          onclick="openModal();currentSlide(4)"
          class="hover-shadow cursor"
          id="4"
        />
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3">
        <img
          src=""
          style="width: 100%"
          onclick="openModal();currentSlide(5)"
          class="hover-shadow cursor"
          id="5"
        />
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3">
        <img
          src=""
          style="width: 100%"
          onclick="openModal();currentSlide(6)"
          class="hover-shadow cursor"
          id="6"
        />
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3">
        <img
          src=""
          style="width: 100%"
          onclick="openModal();currentSlide(7)"
          class="hover-shadow cursor"
          id="7"
        />
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3">
        <img
          src=""
          style="width: 100%"
          onclick="openModal();currentSlide(8)"
          class="hover-shadow cursor"
          id="8"
        />
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3">
        <img
          src=""
          style="width: 100%"
          onclick="openModal();currentSlide(9)"
          class="hover-shadow cursor"
          id="9"
        />
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3">
        <img
          src=""
          style="width: 100%"
          onclick="openModal();currentSlide(10)"
          class="hover-shadow cursor"
          id="10"
        />
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3">
        <img
          src=""
          style="width: 100%"
          onclick="openModal();currentSlide(11)"
          class="hover-shadow cursor"
          id="11"
        />
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3">
        <img
          src=""
          style="width: 100%"
          onclick="openModal();currentSlide(12)"
          class="hover-shadow cursor"
          id="12"
        />
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3">
        <img
          src=""
          style="width: 100%"
          onclick="openModal();currentSlide(13)"
          class="hover-shadow cursor"
          id="13"
        />
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3">
        <img
          src=""
          style="width: 100%"
          onclick="openModal();currentSlide(14)"
          class="hover-shadow cursor"
          id="14"
        />
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3">
        <img
          src=""
          style="width: 100%"
          onclick="openModal();currentSlide(15)"
          class="hover-shadow cursor"
          id="15"
        />
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3">
        <img
          src=""
          style="width: 100%"
          onclick="openModal();currentSlide(16)"
          class="hover-shadow cursor"
          id="16"
        />
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3">
        <img
          src=""
          style="width: 100%"
          onclick="openModal();currentSlide(17)"
          class="hover-shadow cursor"
          id="17"
        />
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3">
        <img
          src=""
          style="width: 100%"
          onclick="openModal();currentSlide(18)"
          class="hover-shadow cursor"
          id="18"
        />
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3">
        <img
          src=""
          style="width: 100%"
          onclick="openModal();currentSlide(19)"
          class="hover-shadow cursor"
          id="19"
        />
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3">
        <img
          src=""
          style="width: 100%"
          onclick="openModal();currentSlide(20)"
          class="hover-shadow cursor"
          id="20"
        />
      </div>
    </div>

    <div id="myModal" class="modal">
      <span class="close cursor" onclick="closeModal()">&times;</span>
      <div class="modal-content">
        <div class="mySlides">
          <img src="" id="a1" style="width: 100%" />
        </div>

        <div class="mySlides">
          <img src="" id="a2" style="width: 100%" />
        </div>

        <div class="mySlides">
          <img src="" id="a3" style="width: 100%" />
        </div>

        <div class="mySlides">
          <img src="" id="a4" style="width: 100%" />
        </div>

        <div class="mySlides">
          <img src="" id="a5" style="width: 100%" />
        </div>

        <div class="mySlides">
          <img src="" id="a6" style="width: 100%" />
        </div>

        <div class="mySlides">
          <img src="" id="a7" style="width: 100%" />
        </div>

        <div class="mySlides">
          <img src="" id="a8" style="width: 100%" />
        </div>

        <div class="mySlides">
          <img src="" id="a9" style="width: 100%" />
        </div>

        <div class="mySlides">
          <img src="" id="a10" style="width: 100%" />
        </div>

        <div class="mySlides">
          <img src="" id="a11" style="width: 100%" />
        </div>

        <div class="mySlides">
          <img src="" id="a12" style="width: 100%" />
        </div>

        <div class="mySlides">
          <img src="" id="a13" style="width: 100%" />
        </div>

        <div class="mySlides">
          <img src="" id="a14" style="width: 100%" />
        </div>

        <div class="mySlides">
          <img src="" id="a15" style="width: 100%" />
        </div>

        <div class="mySlides">
          <img src="" id="a16" style="width: 100%" />
        </div>

        <div class="mySlides">
          <img src="" id="a17" style="width: 100%" />
        </div>

        <div class="mySlides">
          <img src="" id="a18" style="width: 100%" />
        </div>

        <div class="mySlides">
          <img src="" id="a19" style="width: 100%" />
        </div>

        <div class="mySlides">
          <img src="" id="a20" style="width: 100%" />
        </div>

        

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div class="caption-container">
          <p id="caption"></p>
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>

    <script>
      // Javascript to hit gallery api and featch data

      $(document).ready(function () {
    function toBase64(arr) {
       //arr = new Uint8Array(arr) if it's an ArrayBuffer
       return btoa(
          arr.reduce((data, byte) => data + String.fromCharCode(byte), '')
       );
    }
    const galleryapifunction= async function(){

    const response = await fetch('http://127.0.0.1:3000/admin/gallery/api',{headers: {
                  'Content-Type': 'application/json'
                }})

    const myData = await response.json()
    

        var img1 =document.getElementById('1')
        var img2 =document.getElementById('2')
        var img3 =document.getElementById('3')
        var img4 =document.getElementById('4')
        var img5 =document.getElementById('5')
        var img6 =document.getElementById('6')
        var img7 =document.getElementById('7')
        var img8 =document.getElementById('8')
        var img9 =document.getElementById('9')
        var img10 =document.getElementById('10')
        var img11 =document.getElementById('11')
        var img12 =document.getElementById('12')
        var img13 =document.getElementById('13')
        var img14 =document.getElementById('14')
        var img15 =document.getElementById('15')
        var img16 =document.getElementById('16')
        var img17 =document.getElementById('17')
        var img18 =document.getElementById('18')
        var img19 =document.getElementById('19')
        var img20 =document.getElementById('20')

        var imga1 =document.getElementById('a1')
        var imga2 =document.getElementById('a2')
        var imga3 =document.getElementById('a3')
        var imga4 =document.getElementById('a4')
        var imga5 =document.getElementById('a5')
        var imga6 =document.getElementById('a6')
        var imga7 =document.getElementById('a7')
        var imga8 =document.getElementById('a8')
        var imga9 =document.getElementById('a9')
        var imga10 =document.getElementById('a10')
        var imga11 =document.getElementById('a11')
        var imga12 =document.getElementById('a12')
        var imga13 =document.getElementById('a13')
        var imga14 =document.getElementById('a14')
        var imga15 =document.getElementById('a15')
        var imga16 =document.getElementById('a16')
        var imga17 =document.getElementById('a17')
        var imga18 =document.getElementById('a18')
        var imga19 =document.getElementById('a19')
        var imga20 =document.getElementById('a20')

        img1.setAttribute("width", "354");
        img1.setAttribute("height", "228");
        img2.setAttribute("width", "354");
        img2.setAttribute("height", "228");
        img3.setAttribute("width", "354");
        img3.setAttribute("height", "228");
        img4.setAttribute("width", "354");
        img4.setAttribute("height", "228");
        img5.setAttribute("width", "354");
        img5.setAttribute("height", "228");
        img6.setAttribute("width", "354");
        img6.setAttribute("height", "228");

        img7.setAttribute("width", "354");
        img7.setAttribute("height", "228");
        img8.setAttribute("width", "354");
        img8.setAttribute("height", "228");
        img9.setAttribute("width", "354");
        img9.setAttribute("height", "228");
        img10.setAttribute("width", "354");
        img10.setAttribute("height", "228");
        img11.setAttribute("width", "354");
        img11.setAttribute("height", "228");
        img12.setAttribute("width", "354");
        img12.setAttribute("height", "228");
        img13.setAttribute("width", "354");
        img13.setAttribute("height", "228");
        img14.setAttribute("width", "354");
        img14.setAttribute("height", "228");
        img15.setAttribute("width", "354");
        img15.setAttribute("height", "228");
        img16.setAttribute("width", "354");
        img16.setAttribute("height", "228");
        img17.setAttribute("width", "354");
        img17.setAttribute("height", "228");
        img18.setAttribute("width", "354");
        img18.setAttribute("height", "228");
        img19.setAttribute("width", "354");
        img19.setAttribute("height", "228");
        img20.setAttribute("width", "354");
        img20.setAttribute("height", "228");
      
      img1.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][0].photo.data)
      img2.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][1].photo.data)
      img3.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][2].photo.data)
      img4.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][3].photo.data)
      img5.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][4].photo.data)
      img6.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][5].photo.data)

      img7.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][0].photo.data)
      img8.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][1].photo.data)
      img9.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][2].photo.data)
      img10.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][3].photo.data)
      img11.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][4].photo.data)
      img12.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][5].photo.data)

      // img13.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][0].photo.data)
      // img14.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][1].photo.data)
      // img15.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][2].photo.data)
      // img16.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][3].photo.data)
      // img17.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][4].photo.data)
      // img18.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][5].photo.data)
      // img19.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][4].photo.data)
      // img20.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][5].photo.data)

      imga1.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][0].photo.data)
      imga2.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][1].photo.data)
      imga3.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][2].photo.data)
      imga4.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][3].photo.data)
      imga5.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][4].photo.data)
      imga6.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][5].photo.data)
      imga7.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][0].photo.data)
      imga8.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][1].photo.data)
      imga9.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][2].photo.data)
      imga10.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][3].photo.data)
      imga11.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][4].photo.data)
      imga12.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][5].photo.data)

      // imga13.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][0].photo.data)
      // imga14.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][1].photo.data)
      // imga15.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][2].photo.data)
      // imga16.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][3].photo.data)
      // imga17.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][4].photo.data)
      // imga18.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][5].photo.data)
      // imga19.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][4].photo.data)
      // imga20.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][5].photo.data)
      img1.style.padding = "5px 3px";
      img2.style.padding = "5px 3px";
      img3.style.padding = "5px 3px";
      img4.style.padding = "5px 3px";
      img5.style.padding = "5px 3px";
      img6.style.padding = "5px 3px";
      img7.style.padding = "5px 3px";
      img8.style.padding = "5px 3px";
      img9.style.padding = "5px 3px";
      img10.style.padding = "5px 3px";
      img11.style.padding = "5px 3px";
      img12.style.padding = "5px 3px";
      img13.style.padding = "5px 3px";
      img14.style.padding = "5px 3px";
      img15.style.padding = "5px 3px";
      img16.style.padding = "5px 3px";
      img17.style.padding = "5px 3px";
      img18.style.padding = "5px 3px";

    }
    galleryapifunction()

  })

      //end api

    //Javascript For Gallery

      function openModal() {
        document.getElementById("myModal").style.display = "block";
      }

      function closeModal() {
        document.getElementById("myModal").style.display = "none";
      }

      var slideIndex = 1;
      showSlides(slideIndex);

      function plusSlides(n) {
        showSlides((slideIndex += n));
      }

      function currentSlide(n) {
        showSlides((slideIndex = n));
      }

      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {
          slideIndex = 1;
        }
        if (n < 1) {
          slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
      }
      
    </script>
  </body>
</html>
