<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<% if(typeof success_message != 'undefined') { %>
		<%=success_message%>
	<%}%>
	<%if(typeof error != 'undefined') {%>
		<%=error%>
	<%}%>
	<form method="POST" action="/login">
		<label>Email</label>
		<input type="email" name="email"><br><br>
		<label>Password</label>
		<input type="password" name="password"><br><br>
		<input type="submit" name="submit" value="submit">
	</form>
</body>
</html>