<!DOCTYPE html>
<html>
  <head>
    <title> Login </title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <h3 class="text-center p-3">Login Here</h3>
    <div
      style="margin: 0 auto"
      class="col-12 col-md-6 col-lg-5 p-5 customborder"
    >
      <form action="/login" method="POST">
        <% if (success_message != ''){ %>
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          <strong> <%= success_message %> </strong>
        </div>
        <% } %> <% if( error != '') { %>
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          <strong><%= error %></strong>
        </div>
        <% } %>
        <div class="form-group">
          <label for="username">Enter Your Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="username"
            autocomplete="off"
            placeholder="Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Enter Your Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            autocomplete="off"
            placeholder="Password"
          />
        </div>
        <div class="form-group">
          <input
            type="submit"
            class="btn btn-block btn-outline-primary"
            value="Login"
          />
        </div>
        <p>New Here ? <a class="card-link" href="/signup">Signup</a></p>
      </form>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
