<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div>
		<% if(typeof alert != 'undefined') { %>
	  		<% alert.forEach(function(error) { %>
	  			<%= error.msg %> <br>
			<% }) %>
		<%}%>
	</div> 
	<form method="POST" action="/signup">
		<label>Name</label>
		<input type="text" name="name"><br><br>
		<label>Email</label>
		<input type="email" name="email"><br><br>
		<label>Password</label>
		<input type="password" name="password"><br><br>
		<input type="submit" name="submit" value="submit">
	</form>
	
</body>
</html>