body{
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Bangers', cursive; */
    /* font-family: 'Roboto','RobotoDraft',Helvetica,Arial,sans-serif; */
    /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol; */
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}


/* Table css */

.table-css thead {
    background-color: #85aecc;
    color: white;
}

/* Form style */
.form-fields {
    padding-top: 20px ;
    position: relative;
}

.form-fields-day {
    position: relative;
    float: left;
}
.form-fields-month {
    padding-left: 20px;
	padding-right: 20px;
    float: left;
}
.form-fields-year {
    
    float: left;
}



 /* Discount (set or unset) */

.discountFlag {
    width: 153px;
    margin-left: 30px;
 }
 .discountFont {
     font-size: 15px;
 }
@media screen and (max-width: 600px){
 .discountFlag {
    width: 120px;
 }
 .discountFont {
 font-size: 11px;
}
}

/* No Event Registered */
.no-content-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    color: #777;
  }
  
  /*******************Forgot Password**********************/
  
  .forgot-password-main {
    position: relative;
    min-height: 90vh;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .forgot-password-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 50px;
  
    -moz-box-shadow: 0px 0px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 0px 0px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 0px 0px 5px rgba(68, 68, 68, 0.6);
  }
  
  .forgot-password-inner p {
    font-size: 20px;
    text-align: center;
  }
  
  /******************Registered Event******************/
  
  .registered-event-main {
    position: relative;
    min-height: 90vh;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .registered-event-table {
    margin-top: 100px;
    margin-bottom: 100px;
    flex-grow: 1;
  }

