body{
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Bangers', cursive; */
    /* font-family: 'Roboto','RobotoDraft',Helvetica,Arial,sans-serif; */
    /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol; */
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}


/* Table css */

.table-css thead {
    background-color: #85aecc;
    color: white;
}

/* Form style */
.form-fields {
    padding-top: 20px ;
    position: relative;
}

.form-fields-day {
    position: relative;
    float: left;
}
.form-fields-month {
    padding-left: 20px;
	padding-right: 20px;
    float: left;
}
.form-fields-year {
    
    float: left;
}



 /* Discount (set or unset) */

.discountFlag {
    width: 153px;
    margin-left: 30px;
 }
 .discountFont {
     font-size: 15px;
 }
@media screen and (max-width: 600px){
 .discountFlag {
    width: 120px;
 }
 .discountFont {
 font-size: 11px;
}
}

