/* .home-background-image {
    background-image: url('../images/clg.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}


.home-background-contents{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-family: 'Play', sans-serif;
    
}

.home-inner-contents {
    color: #ffffff;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */


/* .table-Event-Date-main{
    position: relative;
    min-height: 100vh;
	margin-top: 15%;
    margin-bottom: 10px;
    border: 2px solid black;
} */

.table-Event-Date-inner{
    position: absolute;
	top: 75%;
	left: 50%; 
	margin-bottom: 50%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center; 
    border: 2px solid yellow;
    min-height: 70vh;
}

.table-Event-Date{
    
}