.z-depth-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.form-div {
  margin: auto;
  padding: 25px;
  max-width: 500px;
}


/* No Event Registered */
.no-content-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  color: #777;
}

/*******************Forgot Password**********************/

.forgot-password-main {
  position: relative;
  min-height: 90vh;
  margin-top: 40px;
  margin-bottom: 10px;
}
.forgot-password-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 50px;

  -moz-box-shadow: 0px 0px 5px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 0px 0px 5px rgba(68, 68, 68, 0.6);
  box-shadow: 0px 0px 5px rgba(68, 68, 68, 0.6);
}

.forgot-password-inner p {
  font-size: 20px;
  text-align: center;
}

/******************Registered Event******************/

.registered-event-main {
  position: relative;
  min-height: 90vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.registered-event-table {
  margin-top: 100px;
  margin-bottom: 100px;
  flex-grow: 1;
}